body {
    width: 100%;
    background: url("https://i.pinimg.com/originals/ca/7b/f0/ca7bf09f2eaf2b1792c74b2fcbfb2a02.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
    overflow: visible;
    font-family: 'Montserrat', sans-serif;
}

.jumbotron {
    color: rgba(255, 0, 0, 0.986);
    /* text-shadow: 0px 0px 4px black; */
    letter-spacing: 2px;
    /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.bg-white-transparent{
    background-color: rgba(255, 255, 255, 0.76)!important;
}

#disclaimer{
    position:relative;
    bottom: 10;
    font-size: 7px;
    margin-bottom: 0;

}